PORT=5000
NODE_ENV=development

MONGODB_URI=mongodb+srv://vanshikaag0204_db_user:vanshi9216@cluster0.yr29uns.mongodb.net/?appName=Cluster0


JWT_SECRET=your-super-secret-key-change-in-production
JWT_EXPIRES_IN=7d
