PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@<cluster-url>/<database-name>?retryWrites=true&w=majority
OUTPUT_FOLDER_PATH=Browser controlled Downloads folder
MAX_TOTAL_SETS=5000
JOB_TICK_MS=1000
